# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# PyCharm project settings
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variable or sensitive config files (if any)
.env
